@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Karla:wght@400;700&display=swap");
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-width: 360px;
  position: relative;
}

ul {
  list-style: none;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: unset;
}

@keyframes hiddeMenu {
  0% {
    height: 192px;
  }
  100% {
    height: 0px;
    opacity: 1;
    padding: 0;
  }
}
@keyframes showMenu {
  0% {
    height: 0px;
    opacity: 1;
    padding: 0;
  }
  100% {
    height: 192px;
  }
}
@keyframes burgerUpOpen {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes burgerDownOpen {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes burgerMidOpen {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes burgerUpClose {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0);
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes burgerMidClose {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes burgerDownClose {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveKart {
  0% {
    transform: translate(0px);
    opacity: 1;
  }
  50% {
    transform: translate(100vw);
    opacity: 1;
  }
  51% {
    transform: translate(90vw);
    opacity: 0;
  }
  52% {
    transform: translate(-90vw);
    opacity: 0;
  }
  53% {
    transform: translate(-90vw);
    opacity: 1;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
@keyframes moveLines {
  0% {
    transform: translate(0px) scaleX(1);
    opacity: 1;
  }
  50% {
    transform: translate(100vw) scaleX(2);
    opacity: 1;
  }
  51% {
    transform: translate(100vw) scaleX(1);
    opacity: 0;
  }
  52% {
    transform: translate(-90vw) scaleX(1);
    opacity: 0;
  }
  53% {
    transform: translate(-100vw) scaleX(2);
    opacity: 1;
  }
  100% {
    transform: translate(0px) scaleX(1);
    opacity: 1;
  }
}
.header {
  background-image: url("../assets/navBackground.webp");
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.header_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  position: relative;
}
.header_kart {
  display: none;
}
.header_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  width: 100%;
  position: absolute;
  top: 55px;
  left: 0;
  background-color: rgba(31, 31, 31, 0.8980392157);
  padding: 16px 0;
  color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Bebas Neue", sans-serif;
  overflow: hidden;
  animation: hiddeMenu 0.5s ease-in-out 0s forwards;
}
.header_links_visible {
  animation: showMenu 0.5s ease-in-out 0s forwards;
  overflow: hidden;
}
.header_links-desktop {
  display: none;
}
.header_button {
  background-color: transparent;
  border: none;
  margin-right: 25px;
}
.header_button > div {
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform-origin: left;
}
.header_button :nth-child(2) {
  margin: 5px 0;
}
.header_button-opened div:first-child {
  animation: burgerUpOpen 0.5s ease-in-out 0s forwards;
}
.header_button-opened div:nth-child(2) {
  animation: burgerMidOpen 0.5s ease-in-out 0s forwards;
}
.header_button-opened div:nth-child(3) {
  animation: burgerDownOpen 0.5s ease-in-out 0s forwards;
}
.header_button-closed div:first-child {
  animation: burgerUpClose 0.5s ease-in-out 0s forwards;
}
.header_button-closed div:nth-child(2) {
  animation: burgerMidClose 0.5s ease-in-out 0s forwards;
}
.header_button-closed div:nth-child(3) {
  animation: burgerDownClose 0.5s ease-in-out 0s forwards;
}

.navbarIntial {
  display: none;
}

@media (min-width: 740px) {
  .navbarIntial {
    display: flex;
  }
  .header_navbar {
    justify-content: flex-start;
  }
  .header_brand {
    z-index: 10;
  }
  .header_brand_img {
    width: 192px;
  }
  .header_kart {
    display: flex;
    margin-left: -35px;
  }
  .header_kart_car {
    margin-left: -60px;
  }
  .header_moveKart > .header_kart_car {
    margin-left: -60px;
    animation: moveKart 2s ease-in-out 0s 1 forwards;
  }
  .header_moveKart > .header_kart_lines {
    animation: moveLines 2s ease-in-out 0.03s 1 forwards;
  }
  .header_links {
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.7411764706);
    animation: none;
    border-radius: 0;
    font-size: 30px;
    z-index: 100;
  }
  .header_links_visible {
    animation: none;
  }
  .header_links-mobile {
    display: none;
  }
  .header_links-desktop {
    display: flex;
    margin-top: 51px;
  }
  .header_button {
    display: none;
  }
}
.home {
  min-height: 100vh;
  background-image: url("../assets/homeBackground_1.webp");
  background-size: cover;
}
.home_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  padding-top: 50vh;
}
.home_button {
  background-color: rgba(238, 32, 40, 0.6509803922);
  color: #fff;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 170px;
  padding: 14px;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Bebas Neue", sans-serif;
  transition: background 0.3s;
  cursor: pointer;
}
.home_button:hover {
  background-color: rgba(238, 32, 39, 0.8117647059);
}

@media (min-width: 740px) {
  .home_container {
    gap: 50px;
    padding-top: 43vh;
  }
  .home_button {
    width: 445px;
    padding: 35px 20px;
    font-size: 42px;
    line-height: 42px;
  }
}
.aboutUs {
  padding: 60px 0px 10px;
  max-width: 962px;
  margin: 0 auto;
}
.aboutUs_title {
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  margin: 0 15px;
}
.aboutUs_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Karla", sans-serif;
  letter-spacing: 0.5%;
  text-align: center;
  margin: 0 15px;
}
.aboutUs_img {
  width: 80%;
  margin: 20px auto;
}
.aboutUs_img > img {
  width: 100%;
}
.aboutUs_section {
  overflow: hidden;
}
.aboutUs_section_title {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Bebas Neue", sans-serif;
  padding: 10px 15px;
  border: solid 1px black;
  border-radius: 10px;
  position: relative;
  margin: 0 15px;
  cursor: pointer;
}
.aboutUs_section_title > span {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  background-image: url("../assets/menuControl.svg");
  background-position: center;
  background-size: contain;
  transition: all 0.5s ease-in-out;
}
.aboutUs_section_subMenuSubTitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}
.aboutUs_section_subMenuTitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  margin: 0 15px;
}
.aboutUs_section_container {
  margin-top: 24px;
  overflow: hidden;
  height: 0px;
  transition: all 0.5s ease-in-out;
}
.aboutUs_section_img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 12px 0;
}
.aboutUs_section_img > img {
  width: 60%;
}
.aboutUs_section_img-whoWeAre {
  background-image: url("../assets/aboutUsBg.webp");
}
.aboutUs_section_img-aboutMatias {
  background-image: url("../assets/aboutUsBg_2.webp");
}
.aboutUs_section_img-methodology {
  background-image: url("../assets/aboutUsBg_3.webp");
}
.aboutUs_section_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Karla", sans-serif;
  letter-spacing: 0.005rem;
  margin: 15px 25px;
  text-align: center;
}
.aboutUs_section_list {
  padding: 0 36px;
}
.aboutUs_section_list > p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Bebas Neue", sans-serif;
  text-align: left;
}
.aboutUs_section_list > ul > li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Karla", sans-serif;
  letter-spacing: 0.005rem;
  list-style: georgian;
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 5px;
}
.aboutUs_section_subContainer {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
.aboutUs_section_subContainer_item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  margin: 0 0 -15px;
}
.aboutUs_menuOpened > span {
  transform: rotateX(180deg);
}

@media (min-width: 740px) {
  .aboutUs {
    max-width: 950px;
    padding-top: 175px;
  }
  .aboutUs_title {
    font-size: 42px;
    text-align: left;
    margin-bottom: 30px;
  }
  .aboutUs_text {
    font-size: 22px;
  }
  .aboutUs_img {
    margin-bottom: 42px;
  }
  .aboutUs_section_title {
    font-size: 30px;
  }
  .aboutUs_section_subMenuTitle {
    font-size: 30px;
  }
  .aboutUs_section_subMenuSubTitle {
    font-size: 24px;
    margin-top: 15px;
  }
  .aboutUs_section_container {
    margin-top: 32px;
  }
  .aboutUs_section_text {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.009em;
  }
  .aboutUs_section_list {
    width: fit-content;
    margin: 20px auto;
  }
  .aboutUs_section_list > p {
    font-size: 22px;
  }
  .aboutUs_section_list > ul > li {
    font-size: 22px;
    margin: 15px 0;
  }
  .aboutUs_section_subContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 100px;
    width: 85%;
    margin: 30px auto;
  }
  .aboutUs_section_subContainer_item {
    text-align: left;
    font-size: 24px;
    margin: 10px 0;
  }
  .aboutUs_section_subContainer > div > p {
    text-align: left;
    margin: 0;
  }
}
.joinUs {
  padding: 60px 0px 10px;
  max-width: 962px;
  margin: 0 auto;
}
.joinUs_title {
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  margin: 0 15px;
}
.joinUs_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Karla", sans-serif;
  letter-spacing: 0.5%;
  text-align: center;
  margin: 0 15px;
}
.joinUs_img {
  width: 80%;
  margin: 20px auto;
}
.joinUs_img > img {
  width: 100%;
}
.joinUs_section {
  overflow: hidden;
}
.joinUs_section_title {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Bebas Neue", sans-serif;
  padding: 10px 15px;
  border: solid 1px black;
  border-radius: 10px;
  position: relative;
  margin: 0 15px;
  cursor: pointer;
}
.joinUs_section_title > span {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  background-image: url("../assets/menuControl.svg");
  background-position: center;
  background-size: contain;
  transition: all 0.5s ease-in-out;
}
.joinUs_section_subMenuSubTitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}
.joinUs_section_subMenuTitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  margin: 0 15px;
}
.joinUs_section_subMenuTitle > span {
  display: none;
}
.joinUs_section_container {
  margin-top: 24px;
  overflow: hidden;
  height: 0px;
  transition: all 0.5s ease-in-out;
}
.joinUs_section_titleContainer {
  display: flex;
  flex-direction: column;
}
.joinUs_section_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Karla", sans-serif;
  letter-spacing: 0.005rem;
  margin: 15px 25px;
  text-align: center;
}
.joinUs_section_listContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.joinUs_section_list {
  padding: 0px 32px 30px;
}
.joinUs_section_list > p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Bebas Neue", sans-serif;
  text-align: left;
}
.joinUs_section_list > ul > li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Karla", sans-serif;
  letter-spacing: 0.005rem;
  list-style: georgian;
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 5px;
}
.joinUs_section_list > ul > li > a {
  color: #384aea;
}
.joinUs_menuOpened > span {
  transform: rotateX(180deg);
}

@media (min-width: 740px) {
  .joinUs {
    padding-top: 175px;
    max-width: 950px;
  }
  .joinUs_title {
    font-size: 42px;
    text-align: left;
    margin-bottom: 30px;
  }
  .joinUs_text {
    font-size: 22px;
  }
  .joinUs_img {
    margin-bottom: 42px;
  }
  .joinUs_section_title {
    font-size: 30px;
  }
  .joinUs_section_subMenuTitle {
    font-size: 30px;
  }
  .joinUs_section_subMenuTitle > span {
    display: inline;
  }
  .joinUs_section_subMenuSubTitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
  }
  .joinUs_section_container {
    margin-top: 32px;
  }
  .joinUs_section_titleContainer {
    flex-direction: row;
    justify-content: center;
  }
  .joinUs_section_text {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.009em;
  }
  .joinUs_section_listContainer {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
  }
  .joinUs_section_listContainer > div {
    margin: 0 0 0 75px;
  }
  .joinUs_section_list {
    width: 100%;
    margin: 20px 20px;
  }
  .joinUs_section_list > p {
    font-size: 22px;
  }
  .joinUs_section_list > ul > li {
    font-size: 22px;
    margin: 5px 0;
    line-height: 38px;
  }
  .joinUs_section_subContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 100px;
    width: 85%;
    margin: 30px auto;
  }
  .joinUs_section_subContainer_item {
    text-align: left;
    font-size: 24px;
    margin: 10px 0;
  }
  .joinUs_section_subContainer > div > p {
    text-align: left;
    margin: 0;
  }
}
.achievements {
  min-height: 100vh;
  padding: 60px 10px;
  max-width: 400px;
  margin: 0 auto;
}
.achievements_title, .contactUs_title, .achievements_slide_title {
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  font-family: "Bebas Neue", sans-serif;
  color: #000;
  text-align: center;
  margin: 5px auto;
}
.achievements_slider {
  position: relative;
  min-height: 480px;
}
.achievements_slider .swiper-pagination {
  position: absolute;
  top: 330px;
  padding-top: calc(100% - 300px);
}
.achievements_slider .swiper-pagination .swiper-pagination-bullet {
  background-color: #000;
}
.achievements_slider_control {
  width: 25px;
  position: absolute;
  top: 200px;
  z-index: 10;
}
.achievements_slider_control > img {
  width: 100%;
}
.achievements_slider_control:active {
  transform: scale(0.9);
}
.achievements_slider .control-prev {
  rotate: 180deg;
  left: 0;
}
.achievements_slider .control-next {
  right: 0;
}
.achievements_slide_title {
  margin-top: 20px;
}
.achievements_slide_figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 30px auto;
  gap: 70px;
}
.achievements_slide_figure_picture {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 20px;
}
.achievements_slide_figure_img {
  width: 100%;
  aspect-ratio: 1/1;
}
.achievements_slide_figure_footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  color: #000;
  text-align: center;
  width: 100%;
}

@media (min-width: 740px) {
  .achievements {
    max-width: 950px;
    padding: 175px 10px 80px;
  }
  .achievements_title, .contactUs_title, .achievements_slide_title {
    font-size: 42px;
    text-align: left;
  }
  .achievements_slider {
    padding-bottom: 60px;
  }
  .achievements_slider .swiper-pagination {
    padding: 0;
    top: unset;
    bottom: 0px;
  }
  .achievements_slider .swiper-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    margin: 0 12px;
  }
  .achievements_slider_control {
    width: 35px;
    top: 190px;
    z-index: 10;
    cursor: pointer;
  }
  .achievements_slider_control > img {
    width: 100%;
  }
  .achievements_slider .control-prev {
    left: 30px;
    padding-bottom: calc((100% - 600px) / 5);
  }
  .achievements_slider .control-next {
    right: 30px;
    padding-top: calc((100% - 600px) / 5);
  }
  .achievements_slide_title {
    font-size: 24px;
    text-align: center;
  }
  .achievements_slide_figure {
    gap: 50px;
  }
  .achievements_slide_figure_picture {
    aspect-ratio: 16/9;
  }
  .achievements_slide_figure_img {
    height: 100%;
  }
  .achievements_slide_figure_footer {
    max-width: 550px;
    font-size: 18px;
    min-height: 40px;
    letter-spacing: 0.25%;
  }
}
@media (min-width: 2000px) {
  .achievements {
    min-height: unset;
  }
}
.contactUs {
  min-height: 100vh;
  padding: 50px 10px 0;
}
.contactUs_form {
  position: relative;
  margin: 0 auto 30px;
  padding: 10px;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3px;
}
.contactUs_form_text {
  display: none;
  font-size: 22px;
  font-weight: 400;
  line-height: 38px;
  font-family: "Karla", sans-serif;
  letter-spacing: 0.009em;
  color: #fff;
  text-align: center;
}
.contactUs_form_label {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  background-color: #000;
  opacity: 0.6;
  width: 70px;
  padding: 0 5px;
  border-radius: 5px;
}
.contactUs_form_input {
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Karla", sans-serif;
  border: none;
  border-radius: 6px;
  outline: none;
}
.contactUs_form_inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.contactUs_form_inputContainer > span {
  display: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  color: #f42b14;
  background-color: #000;
  border-radius: 5px;
  padding: 0 5px;
  width: fit-content;
}
.contactUs_form_inputContainer-alert {
  margin-bottom: 0px;
}
.contactUs_form_inputContainer-alert > span {
  display: inline-block;
}
.contactUs_form_button {
  padding: 5px 40px;
  background-color: rgba(238, 32, 40, 0.6509803922);
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 140px;
  margin: 15px auto 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Bebas Neue", sans-serif;
}
.contactUs_form > textarea {
  resize: none;
  font-size: 16.5px;
}
.contactUs_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5568627451);
  z-index: 10;
}
.contactUs_modal_container {
  position: relative;
  width: 75%;
  max-width: 450px;
  top: 50%;
  bottom: 50%;
  right: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 50px 15px;
  background-color: #242220;
  color: #fff;
  border-radius: 20px;
  text-align: center;
}
.contactUs_modal_cross {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 15px;
  cursor: pointer;
}
.contactUs_modal_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  font-family: "Karla", sans-serif;
  margin: 0 0 15px;
}
.contactUs_modal_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  margin: 0;
}
.contactUs_modal-hidden {
  display: none;
}
.contactUs_info {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  background-image: url("../assets/footerBackground_1.webp");
  background-size: cover;
  padding: 10px;
  padding-top: calc(100vh - 818.2px);
  margin: 12px -10px 0;
}
.contactUs_address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contactUs_address_title {
  display: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 40px;
  text-align: center;
  border-radius: 6px;
}
.contactUs_address_map {
  display: none;
  border-radius: 20px;
}
.contactUs_address_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 10px 15px;
  border-radius: 6px;
  text-align: center;
}
.contactUs_media {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactUs_media_title {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 40px;
  text-align: center;
  border-radius: 6px;
}
.contactUs_media_container {
  width: 90%;
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.contactUs_media_icon {
  width: 48px;
}
.contactUs_media_icon-placeholder {
  width: 48px;
  display: inline-block;
}
.contactUs_media_icon-wsp {
  position: fixed;
  z-index: 10;
  bottom: 75px;
  right: 28px;
  display: block;
}

@media (min-width: 740px) {
  .contactUs {
    margin-top: 50px;
    background-image: url("../assets/footerBackground_1.webp");
    background-size: cover;
    padding: 175px 10px 40px;
    min-height: unset;
  }
  .contactUs_largeContainer {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 70px 1fr;
    max-width: 1200px;
    row-gap: 6px;
    column-gap: 22px;
    margin: 0 auto;
    min-height: calc(100vh - 225px);
  }
  .contactUs_title {
    grid-column: 1/3;
    margin: auto auto 0 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8980392157);
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
  }
  .contactUs_form {
    max-width: unset;
    margin: 0 auto;
    width: 100%;
    border-radius: 20px;
    padding: 20px 30px;
    gap: 3px;
  }
  .contactUs_form_text {
    display: inline-block;
  }
  .contactUs_form_label {
    font-size: 22px;
    opacity: 1;
    padding: 3px 10px;
    width: 100px;
  }
  .contactUs_form_input {
    font-size: 20px;
    padding: 10px;
  }
  .contactUs_form_inputContainer {
    margin-bottom: 30px;
  }
  .contactUs_form_inputContainer > span {
    font-size: 20px;
    padding: 3px 5px;
  }
  .contactUs_form_inputContainer-alert {
    margin-bottom: 4px;
  }
  .contactUs_form_button {
    font-size: 24px;
    padding: 10px 40px;
    cursor: pointer;
  }
  .contactUs_form > textarea {
    font-size: 22px;
  }
  .contactUs_form_alert {
    top: unset;
    bottom: 30px;
    right: 30px;
    font-size: 20px;
  }
  .contactUs_modal_container {
    padding: 75px 15px;
  }
  .contactUs_modal_cross {
    width: 25px;
  }
  .contactUs_modal_title {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .contactUs_modal_text {
    font-size: 18px;
    margin: 0 auto;
    max-width: 250px;
    line-height: 26px;
  }
  .contactUs_info {
    flex-direction: column;
    background: unset;
    margin: 0;
    padding: 0;
    gap: 30px;
  }
  .contactUs_address {
    gap: 15px;
  }
  .contactUs_address_title {
    display: block;
  }
  .contactUs_address_map {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
  }
  .contactUs_address_text {
    font-size: 16px;
    width: 100%;
  }
  .contactUs_media_container {
    justify-content: space-between;
    width: 80%;
  }
  .contactUs_media_icon-placeholder {
    width: 48px;
    display: inline-block;
  }
  .contactUs_media_icon-wsp {
    max-width: 80px;
    right: 45px;
    bottom: 65px;
  }
}
@media (min-width: 1200px) {
  .contactUs_media_icon {
    width: 80px;
  }
  .contactUs_media_icon-placeholder {
    width: 80px;
  }
  .contactUs_media_icon-wsp {
    right: calc(50vw - 600px + 45px);
    bottom: 65px;
  }
}
@media (min-width: 1500px) {
  .contactUs_largeContainer {
    max-width: 1700px;
  }
  .contactUs_title {
    margin-left: calc(32.8vw - 403px);
  }
  .contactUs_form {
    max-width: 700px;
  }
  .contactUs_media_icon-wsp {
    right: calc(50vw - 680px);
    bottom: 63px;
  }
}
@media (min-width: 1700px) {
  .contactUs_title {
    margin-left: 160px;
  }
  .contactUs_largeContainer {
    min-height: unset;
  }
  .contactUs_media_icon-wsp {
    right: calc(50vw - 790px);
  }
}

/*# sourceMappingURL=styles.css.map */
