// font-family: 'Bebas Neue', sans-serif; 400
// font-family: 'Inter', sans-serif; 400
// font-family: 'Karla', sans-serif; 400/700
@mixin fontBebas($size, $weight: 400, $height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  font-family: "Bebas Neue", sans-serif;
}

@mixin fontInter($size, $weight: 400, $height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  font-family: "Inter", sans-serif;
}

@mixin fontKarla($size, $weight, $height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  font-family: "Karla", sans-serif;
}
