.header {
  background-image: url("../assets/navBackground.webp");
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  &_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    position: relative;
  }
  &_kart {
    display: none;
  }
  &_links {
    //display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    width: 100%;
    position: absolute;
    top: 55px;
    left: 0;
    background-color: #1f1f1fe5;
    padding: 16px 0;
    color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    @include fontBebas(20px, 400, 28px);
    overflow: hidden;
    animation: hiddeMenu 0.5s ease-in-out 0s forwards;
    &_visible {
      animation: showMenu 0.5s ease-in-out 0s forwards;
      overflow: hidden;
    }
    &-desktop {
      display: none;
    }
  }
  &_button {
    background-color: transparent;
    border: none;
    margin-right: 25px;
    & > div {
      width: 20px;
      height: 2px;
      border-radius: 3px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transform-origin: left;
    }
    & :nth-child(2) {
      margin: 5px 0;
    }
    &-opened {
      & div:first-child {
        animation: burgerUpOpen 0.5s ease-in-out 0s forwards;
      }
      & div:nth-child(2) {
        animation: burgerMidOpen 0.5s ease-in-out 0s forwards;
      }
      & div:nth-child(3) {
        animation: burgerDownOpen 0.5s ease-in-out 0s forwards;
      }
    }
    &-closed {
      & div:first-child {
        animation: burgerUpClose 0.5s ease-in-out 0s forwards;
      }
      & div:nth-child(2) {
        animation: burgerMidClose 0.5s ease-in-out 0s forwards;
      }
      & div:nth-child(3) {
        animation: burgerDownClose 0.5s ease-in-out 0s forwards;
      }
    }
  }
}

.navbarIntial {
  display: none;
}

@media (min-width: 740px) {
  .navbarIntial {
    display: flex;
  }
  .header {
    position: relative;
    &_navbar {
      justify-content: flex-start;
    }
    &_brand_img {
      width: 192px;
    }
    &_kart {
      display: flex;
      &_car {
        margin-left: -60px;
      }
    }
    &_moveKart {
      & > .header_kart_car {
        margin-left: -60px;
        animation: moveKart 2s ease-in-out 0s 1 forwards;
      }
      & > .header_kart_lines {
        animation: moveLines 2s ease-in-out 0.03s 1 forwards;
      }
    }
    &_links {
      flex-direction: row;
      background-color: #000000bd;
      animation: none;
      border-radius: 0;
      font-size: 30px;
      position: sticky;
      margin-top: -1px;
      top: -2px;
      z-index: 100;
      &_visible {
        animation: none;
      }
      &-mobile {
        display: none;
      }
      &-desktop {
        display: flex;
      }
    }
    &_button {
      display: none;
    }
  }
}
